################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.suo
*.cache
*.editorconfig
*.json
/Server/TaskManager.WebAPI/TaskManager.WebAPI/obj/TaskManager.WebAPI.csproj.nuget.g.targets
*.props
*.user
/Server/TaskManager.WebAPI/TaskManager.WebAPI/obj/Debug/net7.0
